@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  --color-primary: #25274D;
  --color-secondary: #29648A;
  --color-tertiary: #2E9CCA;
  --color-details: #AAABB8;
  --color-error: #D63031;
  --color-success: #00B894;
}

html,
body {
  font-family: 'Quicksand', sans-serif;
}

a {
  text-decoration: none;
  color: var(--color-tertiary);
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 24px;
  margin-top: 32px;
}

@media (min-width: 1280px) {
  h1 {
    font-size: 32px;
  }
}

h2 {
  font-size: 16px;
  margin-bottom: 16px;
  color: var(--color-secondary);
}

@media (min-width: 1280px) {
  h2 {
    font-size: 24px;
  }
}

p {
  margin: 8px 0 16px 0;
  font-weight: 300;
}

input,textarea {
  width: 100%;
  padding: 16px;
  margin: 4px 0 4px 0;
  border: 1px solid var(--color-details);
  border-radius: 8px;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-weight: 300;
  resize: vertical;
}

input[type=text]:focus {
  border: 1px solid var(--color-tertiary);
}

input[type=file]::file-selector-button {
  padding: 8px;
  background-color: var(--color-tertiary);
  color: white;
}

input::placeholder {
  color: var(--color-details);
}

form {
  margin-top: 16px;
}

@media (min-width: 1280px) {
  form {
    width: 450px;
  }
}

label {
  display: block;
  font-weight: 300;
  margin-top: 8px;
}

.btn {
  display: inline-block;
  background: var(--color-tertiary);
  color: white;
  font-weight: 500;
  padding: 12px;
  border-radius: 8px;
  border: none;
  margin: 8px 0 16px 0;
}

.btn-secondary {
  background: var(--color-primary);
  color: white;
  border: 1px solid white;
  font-size: 16px;
  font-weight: 300;
  padding: 8px;
  border-radius: 8px;
}

.error-toast {
  background-color: var(--color-error) !important;
}

.success-toast {
  background-color: var(--color-success) !important;
}