.header {
    background: var(--color-primary);
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 64px;
    padding: 0 8px;
}

@media (min-width: 768px) {
    .menu {
        margin: 0 auto;
        width: 600px;
    }
}

@media (min-width: 1280px) {
    .menu {
        margin: 0 auto;
        width: 960px;
    }
}

.menu a {
    color: white;
    font-weight: 300;
    margin: 0 16px 0 8px;
}

.menu a:hover {
    color: var(--color-tertiary);
}

.menu ul,.menu li {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.logo {
    cursor: pointer;
}