.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #25274D;
    color: white;
    height: 64px;
    padding: 0 8px;
}

.header a {
    color: white;
    margin: 0 16px 0 8px;
}

.header a:hover {
    color: #2E9CCA;
}

.header ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 125px;
}