.container {
    padding: 16px;
    min-width: 320px;
}

@media (min-width: 768px) {
    .container {
        margin: 0 auto;
        width: 600px;
    }
}

@media (min-width: 1280px) {
    .container {
        margin: 0 auto;
        width: 960px;
        max-width: 1920px;
    }
}