.controls {
    position: absolute;
    top: 0;
    right: 4px;
    text-align: center;
}

.place {
    position: relative;
    padding-top: 40px;
}

.delete {
    margin-left: 16px;
    color: red;
}

.icon {
    position: relative;
    top: 4px;
    right: 4px;
}